node_modules
frontend/node_modules
backend/node_modules
npm-debug.log*
Dockerfile
docker-compose.yml
.git
.gitignore
frontend/build
frontend/dist
*.log
coverage/
.nyc_output
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
backend/data/*.json 